# walkthrough on w04v03_intergers_char_binary and w04v04 machine_words_iperations lectures
# Author: Laura Donnelly

In [1]:
# Example integer - literal written decimal.
num = 65

# Show.
num

65

In [2]:
# in binary. 
bin(num)

'0b1000001'

In [3]:
# Remove 0b.
bin(num)[2:]

'1000001'

In [4]:
# use f
# https://realpython.com/python-f-strings/
print(f"{num:b}")

1000001

In [5]:
# literal in binary.
print(0b1000001)

65

In [6]:
# Negative numbers.
print(f"{-65:b}")

-1000001

You can see the binary  of a character in Python by changing it to Unicode (ASCII) value using ord(), then using bin().

In [7]:
# Character A. 
char = "A"

# Show.
char

'A'

In [8]:
# ordinal value - ranks data but without consistent intervals such as survery ratings, strongly agree, agree no opinion 
ord(char)

65

In [9]:
# Binary 
bin(ord(char))

'0b1000001'

In [10]:
# Float - these numbers with decimal places in it. (Int are "full numbers" e.g. 4, 6,2435,34)
# python doesnt have built in function to show binary on floats. Only on INTERGERS
num = 3.14
# show
num

3.14

In [11]:
# Integer
3 + 5

8

In [12]:
# float. 

3.0 + 5.0

8.0

In [13]:
 # 2nd float

3.8 + 4.9

8.7

In [14]:
# String 
"3" + "5"

'35'

In [15]:
# list
[3] + [5]

[3, 5]

In [16]:
# add an int to a string - as they are two differet types won't work
"3" + 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
# Multiply an into to a string - this works because whoever made python decided it could. The string just gets multipled 5 times.
"3" * 5

'33333'